// colors
$light-black: rgb(40, 40, 40);
$dark-black: rgb(31, 31, 31);
$white: rgb(255, 255, 255);
$text-light-white: rgba(255, 255, 255, 0.87);

// Responsive breakpoints
$xs: 1px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
