@tailwind base;

@font-face {
  font-family: Open Sans Condensed;
  src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf)
    format("truetype");
}

@font-face {
  font-family: Kaushan Script;
  font-weight: 400;
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("truetype");
}

html,
body {
  @apply font-body;
  /* font-family: Open Sans Condensed, "cursive", "sans"; */
}

@tailwind components;
@tailwind utilities;
